<div class="row my-5 mx-5">
  <div class="col-md-6 mx-5">
    <a type="button" class="btn btn-dark" [routerLink]="['/products']">Back</a>
  </div>
</div>
<div class="container">
  <div class="row my-2 d-flex inline">
    <div class="col-md-5" style="padding-left: 5px">
      <img
        class="img-fluid"
        src="assets/images/50.jpg"
        alt="product image"
        style="width: 480px"
      />
    </div>
    <div class="col-md-4">
      <div class="list-group flash">
        <div class="list-group-item"><h3>Product Title</h3></div>
        <div class="list-group-item">
          <h6><strong>Rating :</strong><app-rating [star]="5"></app-rating></h6>
        </div>
        <div class="list-group-item"><strong>Price :</strong> 25$</div>
        <div class="list-group-item">
          <p class="card-text">
            <strong>Description</strong> : Some quick example text to build on
            the card title and make up the bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row">
            <div class="col">Price :</div>
            <div class="col">25 $</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col">Status :</div>
            <div class="col">In Stock</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <button type="button" class="btn btn-block btn-success">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
