<div class="row my-4 mx-5">
  <div class="col-2"></div>
  <div class="col-md-6">
    <h4 class="text-left">
      <i class="fa fa-address-card-o text-danger" aria-hidden="true"></i>
      Shipping Address
    </h4>
    <!-- Div -->
    <form [formGroup]="checkout">
      <div class="form-group">
        <label
          ><i class="fa fa-globe text-success" aria-hidden="true"></i>
          Country</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="country"
          placeholder="ex:India"
        />
      </div>

      <div class="form-group">
        <i class="fa fa-location-arrow text-info" aria-hidden="true"></i>
        <label>Address</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="address"
          placeholder="123,bose lane,kolkata "
        >
        </textarea>
      </div>
      <div class="form-group">
        <label>District</label>
        <input
          type="text"
          class="form-control"
          formControlName="district"
          placeholder="District-Nadia"
        />
      </div>
      <div class="form-group">
        <label>Pin Code</label>
        <input
          type="text"
          class="form-control"
          formControlName="pin"
          pattern="[0-9]{6}"
          placeholder="xxxxxx"
        />
      </div>

      <div class="form-group mt-3">
        <button
          type="submit"
          [disabled]="checkout.invalid"
          (click)="checkoutConfirm()"
          class="btn btn-primary"
        >
          Proceed
        </button>
      </div>
    </form>
  </div>
</div>
