body {
  overflow-x: hidden;
  color: #fff;
}

p {
  font-size: 14px;
}

.container-fluid {
  background: linear-gradient(
    309deg,
    rgb(244, 243, 245) 0%,
    rgba(247, 177, 166, 0.877) 79%
  );
  margin-top: 120px;
}

.top-part {
  background-color: rgb(255, 255, 255);
}

.center-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-pink {
  border-radius: 0;
  background-color: #ff4081;
  color: #fff !important;
  letter-spacing: 2px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-pink:hover {
  background-color: #f50057;
}

.line {
  border-top: 1px solid #7b1fa2;
  width: 90% !important;
}

.fa-mobile {
  font-size: 20px;
}

#contact {
  font-size: 15px;
}

.grey-text {
  color: rgb(158, 43, 43);
}
